actionlib==1.11.9
angles==1.9.11
backports.functools-lru-cache==1.4
backports.weakref==1.0.post1
bleach==1.5.0
bondpy==1.7.19
catkin==0.7.6
cv-bridge==1.12.4
cycler==0.10.0
Cython==0.27.3
diagnostic-analysis==1.9.2
diagnostic-common-diagnostics==1.9.2
diagnostic-updater==1.9.2
dynamic-reconfigure==1.5.48
enum34==1.1.6
funcsigs==1.0.2
futures==3.1.1
gencpp==0.5.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.8
gennodejs==2.0.1
genpy==0.6.5
h5py==2.7.1
html5lib==0.9999999
interactive-markers==1.11.3
Keras==2.1.1
laser-geometry==1.6.4
Markdown==2.6.9
matplotlib==2.1.0
message-filters==1.12.7
mock==2.0.0
numpy==1.13.3
pandas==0.21.0
pbr==3.1.1
pkg-resources==0.0.0
pluginlib==1.10.5
protobuf==3.5.0.post1
pyparsing==2.2.0
python-dateutil==2.6.1
python-qt-binding==0.3.3
pytz==2017.3
PyYAML==3.12
qt-dotgraph==0.3.7
qt-gui==0.3.7
qt-gui-cpp==0.3.7
qt-gui-py-common==0.3.7
resource-retriever==1.12.3
rosbag==1.12.7
rosboost-cfg==1.13.5
rosclean==1.13.5
roscreate==1.13.5
rosgraph==1.12.7
roslaunch==1.12.7
roslib==1.13.5
roslint==0.11.0
roslz4==1.12.7
rosmake==1.13.5
rosmaster==1.12.7
rosmsg==1.12.7
rosnode==1.12.7
rosparam==1.12.7
rospy==1.12.7
rosservice==1.12.7
rostest==1.12.7
rostopic==1.12.7
rosunit==1.13.5
roswtf==1.12.7
rqt-action==0.4.9
rqt-bag==0.4.10
rqt-bag-plugins==0.4.10
rqt-console==0.4.8
rqt-dep==0.4.8
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.11
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.8
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.7
rqt-robot-steering==0.5.8
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.7
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.8
rqt-web==0.4.8
rviz==1.12.13
scipy==1.0.0
sensor-msgs==1.12.5
six==1.11.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.7.19
subprocess32==3.2.7
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
tf==1.11.9
tf-conversions==1.11.9
tf2-kdl==0.5.16
tf2-py==0.5.16
tf2-ros==0.5.16
topic-tools==1.12.7
Werkzeug==0.12.2
xacro==1.11.2
